@media (min-width: 1200px) {
    .container {
        max-width: 870px;
    }
}

body {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    background-color:#edf2f7;
}
.alert-message{
background-color:#1A202C;
border-radius:0;
height:auto;
}
.head-section {
    background-color: #edf2f7;
    min-height: 400px;
    height: auto;
    padding-bottom: 50px;
}

.navbar {
    height: 80px;
    background-color: white;
}

.btn-home {
    background-color: #38b2ac;
    color: white;
}

.btn-home:hover {
    background-color: #2c7a7b;
    color: white;
}

.post-title{
    color:#3182CE;
}
.avatar{
    height:40px;
    width:40px;
    border-style:solid;
    border-color:black;
    border-width:1px;
}

.form-control{
    background-color:#EDF2F7;
    border:0;
}
